.contentbox {
    margin: auto;
    max-width: 800px;
}

.clubsbox {
    max-width: 300px;
    padding-right: 20px; 
}

ion-item {
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.logobox {
    width: 45px;
    height: 45px;  
}

.logobox img {
    border-radius: 15px !important; 
}