ion-avatar {  
    width: 45px;
    height: 45px;  
}

ion-avatar img {
    border-radius: 15px !important;
} 

ion-tab-button {
    max-width: 80px;  
}

.header {
    padding: 4px 0;
}
.container {
    min-height: 40px;
}