<ion-content mode="ios">  
    <ion-header mode="ios">
        <ion-toolbar class="headerbox ion-no-border"> 
          <ion-title mode="md">SnowBoard's Club</ion-title>
          <!-- <ion-chip slot="end" color="success"> {{ userData.role }} </ion-chip> -->
          <ion-button fill="clear" slot="end" routerLink="/tabs/settings" color="success">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button> 
        </ion-toolbar>
      </ion-header>
      
      <div class="d-flex clublist">
          <div [ngClass]="{'active': club?.active}" *ngFor="let club of clubs" [ngStyle]="{'background-image': 'url('+club.imgUrl+')'}" class="club"></div>
      </div>

    <div class="contentbox">
        <comment-card [comment]="item" *ngFor="let item of messages"></comment-card>
    </div>
</ion-content>

