.contentbox {
    margin: auto;
    max-width: 800px;  
} 

.newuser {
    margin: 0px !important;   
    height: 90px;
    width: 90px; 
}

.eventbox {
    margin: auto;
    max-width: 300px; 
}

.clubsbox {
    margin: auto;
    max-width: 500px;  
    padding-left: 50px;
}

.scrollbox {
    display: flex;
  overflow: scroll; 
}

.userbox {
  //margin-left: 2px; 
} 

.userbox img {
    border-radius: 50px;     
  height: 50px;  
  width: 50px;  
  //max-width: none;
}
