ion-avatar {
    height: 120px; 
    width: 120px; 
}

.headerbox {
    margin: auto;  
    max-width: 800px; 
}


.firstcol {
    max-width: 150px;
}

.goalbox {
    margin: 20px;  
}

.contentbox {
    margin: auto;
    max-width: 500px;    
}

.postbox { 
    margin: auto;
    max-width: 500px;   
}