<ion-header mode="ios">
  <ion-toolbar class="headerbox"> 
      <ion-button fill="clear" slot="start" routerLink="/tabs/tab1" color="success">
          <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button> 
    <ion-title mode="md"> Joshua </ion-title>
    <!-- <ion-chip slot="end" color="success"> {{ userData.role }} </ion-chip> -->
    <ion-button fill="clear" slot="end" routerLink="/tabs/settings" color="success">
          <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content mode="ios"> 
    <div class="contentbox">
        <ion-grid class="profile-container">
            <div class="d-flex goalbox">
                <ngx-avatar size="120" [src]="croppedImg || profileImg"></ngx-avatar>
                <div class="d-inline-flex flex-column club-chips">
                    <ion-chip color="green">
                        <ion-label color="dark">Skate Club</ion-label>
                    </ion-chip>
                    <ion-chip color="tertiary">
                        <ion-label color="dark">Snowboarding Club</ion-label>
                    </ion-chip>
                    <ion-chip color="secondary"> 
                        <ion-label color="dark">Healthy Meal Club</ion-label>
                    </ion-chip>
                </div>
            </div>
            <ion-row>
                <ion-col>
                    <div class="goalbox">
                        <h3><strong>My Goal : </strong></h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet quam posuere, elementum sem non, ullamcorper lacus. Ut posuere mauris in ante rhoncus hendrerit. </p> 
                        <!-- <ion-text> 
                        </ion-text>  -->
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        
        
       <div class="postbox">
            <post-card *ngFor="let post of userPosts" [post]="post" [self]="true"></post-card>
        </div> 
      
      </div>
    
</ion-content>